body{
  text-align:center;
  
  background: url(https://preview.redd.it/psjtjaams2f11.png?width=640&crop=smart&auto=webp&s=d9ff99efad66d2407a6d00e9761d346b9178a47e);
}

h1 { 
   font-family: 'KaushanScriptRegular'; 
   font-weight: normal; 
   font-style: normal; 
   font-size: 100px;
}
